.toolbar-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 1.75rem;
    margin-top: 0.1rem;
    padding-inline: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    /* Animate the background when hovering */
    transition: background 0.2s ease-in-out;
    margin-bottom: 0.3rem;
}

.toolbar-item:hover {
    background: #defcff;
}


.toolbar-search {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    height: 1.75rem;
    margin-top: 0.1rem;
}

.toolbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    background: white;
    border-bottom: 1px solid black;
    align-items: center;
}

/* Disable the input focus/active border for toolbar-search */
/* .toolbar-search:focus, .toolbar-search:active {
    outline: none;
} */

.toolbar-item-key-shortcut {
    font-size: 0.8rem;
    color: #999;
}