<!DOCTYPE html>
<html>

<head>
    <title>Manage remotes</title>
    <script src="index.js" type="module" id="js-id"></script>

    <script>
        // Load the token from jinja2 variable
        const token = "{{ shemsu }}";
        if (token) {
            window.pywebview = window.pywebview || {};
            window.pywebview.token = token;
        }
        // Remove from the url the token
        window.history.replaceState({}, document.title, "/remotes");
    </script>
</head>

<body>
    <div id="remotes-root" class="root-container"></div>
</body>

</html>