<!DOCTYPE html>
<html>

<head>
    <title>Manage plugins</title>
    <link href="../Main/index.css" rel="stylesheet" id="css-id">
    <script src="index.js" type="module" id="js-id"></script>
    <script>
        // Load the token from jinja2 variable
        const token = "{{ shemsu }}";
        if (token) {
            window.pywebview = window.pywebview || {};
            window.pywebview.token = token;
        }
        // Remove from the url the token
        window.history.replaceState({}, document.title, "/");
    </script>
</head>

<body>
    <div id="plugin-manager-root"></div>
</body>

</html>