.plugin-manager-title {
  position: sticky;
  top: 0;
  background: var(--tech-white);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
}

@media (max-width: 900px) {
  .plugin-manager-title {
    flex-direction: column;
  }
}

.plugin-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  margin: 2rem;
}

.plugin-error {
  color: red;
  margin-top: auto;
}

.card {
  word-break: break-word;
}

.plugin-card {
  color: white;
  width: 100%;
  background: var(--gradient-blue);
}

.plugin-card-error {
  color: black;
  width: 100%;
}

.plugin-manager-root {
  background-color: whitesmoke;
  height: 100%;
}

.toolbar-search {
  outline: none;
  border: none;
}

.dependencies-scroll {
  max-height: 5rem;
  overflow-y: scroll;
  width: 100%;
}
