<!doctype html>
<html>
  <head>
    <title>Login to {{ appName }}</title>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        overflow-y: scroll;
        padding: 2rem;
        margin: 0;

        display: grid;
        align-items: center; /* Centers content horizontally */
      }
    </style>
    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>
  </head>

  <body class="bg-transparent">
    <meta id="meta-message" data-message="{{ message }}" />
    <meta id="meta-message-ok" data-ok="{{ message_ok }}" />
    <script>
      // Load from jinja2 any message
      const message = document.getElementById("meta-message").dataset.message;
      const message_ok = document.getElementById("meta-message-ok").dataset.ok;

      if (message) {
        window.message = {
          ok: message_ok,
          msg: message,
        };
      } else {
        window.message = null;
      }
    </script>
    <div class="" id="login-root"></div>
    <script src="login.js" type="module"></script>
  </body>
</html>
