<!doctype html>
<html>
  <head>
    <title>Reset {{ appName }} password</title>
    <style>
      html,
      body {
        height: 100%;
      }

      html {
        display: table;
        margin: auto;
      }

      body {
        display: table-cell;
        vertical-align: middle;
      }
    </style>
    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>
  </head>

  <body class="bg-transparent">
    <meta id="meta-mail" data-mail="{{ mail }}" />
    <script>
      // Load from jinja2 any message
      const mail = document.getElementById("meta-mail").dataset.mail;

      if (mail) {
        window.mail = mail;
      } else {
        window.mail = null;
      }
    </script>
    <div id="reset-root"></div>
    <script src="reset.js" type="module"></script>
  </body>
</html>
