<!doctype html>
<html>
  <head>
    <title>Horus</title>

    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>

    <!-- Load the React app (necessary for parcel detecting the files) -->
    <script src="index.tsx" type="module" id="js-id"></script>

    <!-- JSME -->
    <script
      src="{{ horusRoot }}/Static/JSME/jsme.nocache.js"
      type="module"
      id="js-jsme"
    ></script>
    <!-- Favicon -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../Favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../Favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../Favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../Favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../Favicon/safari-pinned-tab.svg"
      color="#2b5797"
    />
    <meta name="apple-mobile-web-app-title" content="Horus" />
    <meta name="application-name" content="Horus" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#2b5797" />
  </head>

  <body>
    <!-- Initialize a React app -->
    <div id="horusRoot" style="height: 100vh"></div>
  </body>
</html>
