@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables */
@layer base {
  :root {
    --tech-blue: #0d47a1;
    --tech-red: #b71c1c;
    --tech-green: #1b5e20;
    --tech-yellow: #f57f17;
    --tech-orange: #e65100;
    --tech-purple: #4a148c;
    --tech-pink: #880e4f;
    --tech-gray: #616161;
    --tech-black: #212121;
    --tech-white: #ffffff;

    /* Custom colors */
    --light-orange: #ffcc80;
    --light-red: #ef9a9a;
  }
}

/* Set the body element to not scroll */
/* @layer base {
  body {
    overflow: hidden;
  }
} */

/* .root-routes {
  overflow: auto;
} */

/* Content displayed inside the app
Nnot accounting for the toolbar (top)
Nor the console (bottom) */
.root-routes-console-hidden {
  /* When the console is not visible, 
  the total height its just all the viewerpot minus the toolbar */
  height: calc(100vh - 2rem);
}

.root-routes-console-visible {
  /* When the console is visible, 
  the total height its just all the viewerpot minus the toolbar and the console */
  height: calc(100vh - 2rem - 150px);
}

.ResizeHandleOuter {
  flex: 0 0 1.5em;
  position: relative;
  outline: none;

  --background-color: var(--tech-white);
}
.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
}

.ResizeHandleInner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
}

.Icon {
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.Icon-horizontal {
  transform: rotate(90deg);
}
