<!DOCTYPE html>
<html>

<head>
    <title>Horus</title>

    <!-- Load the React app (necessary for parcel detecting the files) -->
    <link href="index.css" rel="stylesheet" id="css-id">
    <script src="index.js" type="module" id="js-id"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Favicon/favicon-16x16.png">
    <link rel="manifest" href="../Favicon/site.webmanifest">
    <link rel="mask-icon" href="../Favicon/safari-pinned-tab.svg" color="#ffd209">
    <meta name="apple-mobile-web-app-title" content="Horus">
    <meta name="application-name" content="Horus">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ff0000">

    <script>
        // Load the token from jinja2 variable
        const token = "{{ shemsu }}";
        if (token) {
            window.pywebview = window.pywebview || {};
            window.pywebview.token = token;
        }
        // Remove from the url the token
        window.history.replaceState({}, document.title, "/");
    </script>

</head>

<body>
    <!-- Initialize a React app -->
    <div id="horusRoot"></div>
</body>

</html>