<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <script src="./main_renderer.js"></script>
    <!-- Load css styles -->
    <link rel="stylesheet" href="../css/main.css" />
    <title id="title"></title>
</head>

<body>
    <div id="main">
        <div id="sidebar" class="sidebar">
                <a href="#">Home</a>
                <a href="#">Submit job</a>
                <a href="#">Mol*</a>
        </div>
    <div id="content" class="content">
        <h4>Main contents</h4>
    </div>
    </div>
</body>

</html>