<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
</head>

<body>
    <h1>My molstar App</h1>
    <!-- Prepare a div for mosltar -->
    <div id="molstar"></div>
</body>

<!-- Load the molstar.css from node modules which are in the root directory -->
<link rel="stylesheet" href="/node_modules/molstar/build/viewer/molstar.css" />
<!-- Load the molstar.js from node modules which are in the root directory -->
<script src="/node_modules/molstar/build/viewer/molstar.js"></script>
<script>
    molstar.Viewer.create('molstar', {
        layoutIsExpanded: true,
        layoutShowControls: true,
        layoutShowRemoteState: false,
        layoutShowSequence: true,
        layoutShowLog: false,
        layoutShowLeftPanel: true,

        viewportShowExpand: false,
        viewportShowSelectionMode: false,
        viewportShowAnimation: false,

        pdbProvider: 'rcsb',
    }).then(viewer => {
        viewer.loadPdb('7bv2');
    });
</script>

</html>