<!doctype html>
<html>
  <head>
    <title>Shemsu error</title>
    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>
    <script src="error.tsx" type="module"></script>
    <link rel="stylesheet" href="error.css" />

    <style>
      .errorbody {
        display: grid;
        place-items: center;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div class="errorbody">
      <div id="error"></div>
      <div id="flask-error">{{errormsg}}</div>
    </div>
  </body>
</html>
