<!doctype html>
<html class="h-full">
  <head>
    <title>About Horus</title>
    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>
  </head>

  <body class="h-full">
    <div class="overflow-hidden h-full" id="about"></div>
    <script src="main_about.js" type="module"></script>
    <script>
      // Load the token from jinja2 variable
      const token = "{{ shemsu }}";
      if (token) {
        window.pywebview = window.pywebview || {};
        window.pywebview.token = token;
      }
      // Remove from the url the token
      window.history.replaceState({}, document.title, "/about");
    </script>
  </body>
</html>
