<!doctype html>
<html class="h-full">
  <head>
    <title>Browser mode</title>
    <script>
      window.__HORUS_ROOT__ = "{{ horusRoot }}";

      if (
        window.__HORUS_ROOT__.startsWith("{{") &&
        window.__HORUS_ROOT__.endsWith("}}")
      ) {
        // Flask is not called to render the template, therefore we need to manually set the root for development mode
        window.__HORUS_ROOT__ = "";
      }
    </script>
  </head>

  <body class="h-full">
    <div class="overflow-hidden h-full" id="bmode"></div>
    <script src="browser_mode.js" type="module"></script>
  </body>
</html>
